div.products>div.product {
  display:inline-block;
  border:2px solid;
  margin:2px;
  padding:2px;
  cursor:hand;
  cursor:pointer;
  width:200px;
  max-width:200px;
  font-size:1.2em;
  overflow:hidden;
  text-overflow:ellipsis; /*this is not working*/
  white-space:nowrap;
}

div.products>div.product>span.picture {
	display:block;
	text-align:center;
}

div.products>div.product>span.picture>img {
	height:200px;
}

div.products>div.product>span.price {
	display:block;
	text-align:right;
}

div.cart>div.product {
  clear:right;
  border:2px solid;
  margin:2px;
  padding:2px;
}

div.cart>div.product>button {
  color:inherit;
  background-color: transparent;
  border-color: transparent;
  outline: 0;
}

div.cart>div.product>button.del {
  float:right;
}

div.cart>div.product>span.productTotal {
  float:right;
}

div.cart>div.total {
  font-weight:bold;
}

.hide-all { /*Required by pagination*/
                display: none;
}
